{
    "Core": {
        "FunctionName": "permissions_test_github",
        "Runtime": "nodejs20.x",
        "Role": "arn:aws:iam::850643651411:role/service-role/permissions_test_github-role-t0kzeabq",
        "Handler": "index.handler",
        "Description": "",
        "Timeout": 3,
        "MemorySize": 128,
        "Layers": [],
        "EphemeralStorage": {
            "Size": 512
        }
    },
    "Tags": {},
    "RolePolicies": [
        {
            "PolicyName": "AWSLambdaBasicExecutionRole-4db9468b-69c8-42ac-8def-b307866e5c4e",
            "PolicyArn": "arn:aws:iam::850643651411:policy/service-role/AWSLambdaBasicExecutionRole-4db9468b-69c8-42ac-8def-b307866e5c4e",
            "PolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                    {
                        "Effect": "Allow",
                        "Action": "logs:CreateLogGroup",
                        "Resource": "arn:aws:logs:[LD-IO-REGION]:850643651411:*"
                    },
                    {
                        "Effect": "Allow",
                        "Action": [
                            "logs:CreateLogStream",
                            "logs:PutLogEvents"
                        ],
                        "Resource": [
                            "arn:aws:logs:[LD-IO-REGION]:850643651411:log-group:/aws/lambda/permissions_test_github:*"
                        ]
                    }
                ]
            }
        }
    ]
}